@import "colors";

body {
	
	font-family: 'Open Sans';
	background-color: #EEE;
	color: #555;

}

h1, h2, h3, p {

	margin-top: 0;
	font-weight: 100;

}

.content {

	max-width: 1024px;
	margin: 0 auto;

	.model {

		background-color: #FFF;
		padding: 20px;
		border-radius: 3px;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
		margin-top: 20px;

	}

}

svg {

	width: 448px;
	display: block;
	overflow: visible;

}

// .line {

// 	fill: transparent;
// 	stroke: red;
// 	stroke-linecap: round;
// 	stroke-linejoin: round;

// }